
#u631_text.b {
}
#u631 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u632.b {
}
#u632_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Architects Daughter';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#1720B6;
}
#u632.b {
}
#u632_text.b {
}
#u632 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u633.b {
}
#u633_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Architects Daughter';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u633.b {
}
#u633_text.b {
}
#u633 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u634.b {
}
#u634_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Architects Daughter';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#1720B6;
}
#u634.b {
}
#u634_text.b {
}
#u634 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u635.b {
}
#u635_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Architects Daughter';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u635.b {
}
#u635_text.b {
}
#u635 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u636.b {
}
#u636_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Architects Daughter';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#1720B6;
}
#u636.b {
}
#u636_text.b {
}
#u636 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u637.b {
}
#u637_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Architects Daughter';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u637.b {
}
#u637_text.b {
}
#u637 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u638.b {
}
#u638_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Architects Daughter';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#1720B6;
}
#u638.b {
}
#u638_text.b {
}
#u638 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u639.b {
}
#u639_img.b {
}
#u639.b {
}
#u639_text.b {
}
#u639 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u640.b {
}
#u640_img.b {
}
#u640.b {
}
#u640_text.b {
}
#u640 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u641.b {
}
#u641_img.b {
}
#u641.b {
}
#u641_text.b {
}
#u641 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u642.b {
}
#u642_img.b {
}
#u642.b {
}
#u642_text.b {
}
#u642 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u644.b {
}
#u644_img.b {
}
#u644.b {
}
#u644_text.b {
}
#u644 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u645.b {
}
#u645_img.b {
}
#u645.b {
}
#u645_text.b {
}
#u645 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u628_state0.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u646.b {
}
#u646_img.b {
}
#u646.b {
}
#u646_text.b {
}
#u646 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
